@import '../base/index';

.node--type-article {
  position: relative;
  clear: both;

  .node__submitted {
    position: relative;
    margin-bottom: 3rem;
    color: $gray;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.333;

    .quickedit-form {
      color: $gray-darker;
      font-style: normal;
      text-align: left;

      .container-inline {
        white-space: nowrap;
      }
    }
  }

  @media screen and #{$mq-max-lg} {
    .field__date {
      &::before {
        content: 'am ';
      }

      &::after {
        content: '.';
      }
    }
  }

  @media screen and #{$mq-min-lg} {
    .article__created {
      position: absolute;
      bottom: -1.4rem;
      left: -13.5rem;
      width: 9.5rem;
      padding: 1.4rem 1rem 1.4rem .5rem;
      background-color: $gray-dark;
      color: $white;
      line-height: 1.333;
      text-align: center;
      z-index: 100;

      &::before,
      &::after {
        position: absolute;
        right: 0;
        left: 0;
        background-color: $gray-dark;
        content: '';
        z-index: -1;
      }

      &::before {
        top: 0;
        bottom: 50%;
        transform: skew(20deg);
        transform-origin: 0 100%;
      }

      &::after {
        top: 50%;
        bottom: 0;
        transform: skew(-20deg);
        transform-origin: 0 0;
      }

      .field__date {
        display: block;
        font-size: 3rem;
        font-weight: bold;
        line-height: 1.2;
      }

      // fixes for quickedit mode
      > .field--type-created {
        display: block;
      }
    }
  }
}

.node .field--type-image {
  margin: .7rem 3rem 1rem 0;
  float: left;

  .page-node-type-article &,
  body.path-comment & {
    margin: 0;
    float: none;

    .image-style-large {
      width: 100%;
      height: auto;
    }
  }
}

.field--name-body {
  margin-bottom: .7rem;
  border-bottom: 1px solid $gray-light;
}

.field--name-field-tags,
.node__links {
  font-size: 1.7rem;
  line-height: 1.333;
}

.field--name-field-tags {
  margin-bottom: .7rem;
  float: right;
  color: $gray;

  .field__item {
    display: inline;
  }

  .field__label {
    font-weight: normal;
  }

  .field__item:not(:last-of-type)::after {
    content: ',';
  }
}

.node__links {
  margin-bottom: 3rem;
  float: left;

  .node-readmore {
    font-weight: bold;
  }

  .comment-new-comments,
  .comment-add {
    display: none;
  }
}

.node__content {
  &::after {
    display: table;
    clear: both;
    content: ' ';
  }
}
