@import '../base/index';

.comment-wrapper {
  clear: both;
}

.comment {
  margin: 2rem 0 6rem;
  font-size: 1.7rem;
  line-height: 1.333;

  p {
    margin: 1.5rem 0;
  }
}

.comment__meta {
  padding-top: .8rem;
  border-top: 1px solid $gray-light;
  color: $gray;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.333;
  text-align: right;
}

.comment__submitted {
  float: left;
}

.comment__permalink {
  padding: 0 .5em;
}

.filter-wrapper {
  display: none;
}
