@import '../base/index';

.node .field--type-image {
  margin: .7rem 3rem 1rem 0;
  float: left;

  .page-node-type-article &,
  body.path-comment & {
    margin: 0;
    float: none;

    .image-style-large {
      width: 100%;
      height: auto;
    }
  }
}

.field--name-body {
  margin-bottom: .7rem;
  border-bottom: 1px solid $gray-light;
}

.field--name-field-tags,
.node__links {
  margin-bottom: 4rem;
  font-size: 1.7rem;
  line-height: 1.333;
}

.field--name-field-tags {
  float: right;
  color: $gray;

  .field__label,
  .field__items,
  .field__item {
    display: inline;
  }

  .field__label {
    font-weight: normal;

    &::after {
      content: ':';
    }
  }

  .field__item {
    &::after {
      content: ',';
    }

    &:last-of-type {
      &::after {
        content: none;
      }
    }
  }
}

.node__links {
  float: left;

  .node-readmore {
    font-weight: bold;
  }

  .comment-add {
    display: none;
  }
}

.node__content {
  &::after {
    display: table;
    clear: both;
    content: ' ';
  }
}
