@import '../base/index';

.node .field--type-image {
  margin: .7rem 3rem 1rem 0;
  float: left;

  .page-node-type-article & {
    margin: 0;
    float: none;

    .image-style-large {
      width: 100%;
      height: auto;
    }
  }
}
