@import '../base/index';

.label {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.5;
}

.form-composite > .fieldset-wrapper > .description,
.form-item .description,
.form-wrapper .description {
  color: $gray;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.333;
}

input.form-autocomplete,
input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-search,
input.form-number,
input.form-color,
input.form-file,
input.form-date,
input.form-time,
textarea.form-textarea,
select.form-select {
  width: 100%;
  margin-bottom: .5rem;
  padding: .8rem 1.2rem;
  transition: border-color .2s;
  border: 1px solid $gray-light;
  border-radius: 2px;
  outline: 0;
  background: $white;

  &:focus {
    border-color: $gray;
  }

  .container-inline & {
    width: auto;
  }
}

.form-type-checkbox,
.form-type-radio {
  position: relative;

  > label,
  .description {
    margin-left: 2.5rem;
  }

  > input {
    position: absolute;
    margin-top: .8rem;
  }
}
