@import '../base/index';

.label {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.5;
}

.form-composite > .fieldset-wrapper > .description,
.form-item .description {
  color: $gray;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.333;
}

.form-item:not(.form-type-checkbox):not(.form-type-radio) {
  > label {
    display: block;
  }

  > input,
  select,
  .form-textarea-wrapper,
  .form-managed-file {
    width: 100%;

    .container-inline & {
      width: auto;
    }
  }

  > input,
  select,
  textarea,
  .image-widget-data {
    padding: .8rem 1.2rem;
    transition: border-color .2s;
    border: 1px solid $gray-light;
    border-radius: 2px;
    outline: 0;
    background: $white;

    &:focus {
      border-color: $gray;
    }
  }

  .form-file {
    display: block;
    width: 100%;
    opacity: 0;
  }

  > .description {
    width: 100%;
    margin-top: .5rem;
  }
}


.form-type-checkbox,
.form-type-radio {
  position: relative;

  > label,
  .description {
    margin-left: 2.5rem;
  }

  > input {
    position: absolute;
    margin-top: .8rem;
  }
}
