@import '../base/index';

ul.menu {
  margin: 0;

  a.is-active {
    color: $gray-darker;
  }
}

.page-header {
  .menu {
    display: flex;
    flex-wrap: nowrap;
    font-family: Amatic SC;
    font-size: 2em;
    line-height: 1;

    .menu-item {
      margin-right: 30px;
      padding-top: 0;
    }
  }
}
