@import '../base/index';

.page {
  padding: 1rem 2rem;

  @media screen and #{$mq-min-md} {
    padding: 2rem 5rem;
  }
}

.page-container {
  max-width: 1180px;
  margin: 0 auto;
}

.page-container--header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .region-header {
    width: 100%;
  }

  @media screen and #{$mq-max-md} {
    .region-primary-menu,
    .region-secondary-menu {
      width: 100%;
    }
  }

  .block-system-branding-block {
    padding: 2rem 0 1rem;
    text-align: center;

    @media screen and #{$mq-min-md} {
      padding: 6rem 0 3rem;
    }
  }

  .site-name {
    font-family: Amatic SC;
    font-size: 8rem;
    line-height: 1.1;

    > a {
      color: $gray;
      box-shadow: none;
    }
  }

  .site-slogan {
    color: $gray-dark;
    font-size: 1.3rem;
    letter-spacing: .1em;
    text-transform: uppercase;

    &::before,
    &::after {
      content: ' ⁓ ';
    }
  }
}

.page-container--main {
  $svg-color: uri-encode(unquote('#{$gold-light}'));

  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  padding: 0 1.3rem;
  border: .7rem solid transparent;
  border-radius: 1px;
  background-color: $bg-page;
  box-shadow: 0 0 0 .7rem $bg-page;
  border-image: url('data:image/svg+xml;utf8,\
  <svg xmlns="http://www.w3.org/2000/svg"\
    viewBox="0 0 50 50" width="50" height="50">\
    <g fill="#{$svg-color}">\
      <ellipse cx="5" cy="5" rx="5" ry="5"/>\
      <ellipse cx="25" cy="5" rx="5" ry="5"/>\
      <ellipse cx="45" cy="5" rx="5" ry="5"/>\
      <ellipse cx="5" cy="25" rx="5" ry="5"/>\
      <ellipse cx="45" cy="25" rx="5" ry="5"/>\
      <ellipse cx="5" cy="45" rx="5" ry="5"/>\
      <ellipse cx="25" cy="45" rx="5" ry="5"/>\
      <ellipse cx="45" cy="45" rx="5" ry="5"/>\
    </g>\
  </svg>') 15 round;

  @media screen and #{$mq-min-md} {
    padding: 0 9.3rem 5.3rem;
  }
}
