@import '../base/index';

$branding-padding-top: 16rem;
$branding-padding-bottom: 10rem;
$branding-padding: $branding-padding-top 0 $branding-padding-bottom;

.page {
  padding: 0 2rem 1rem;

  @media screen and #{$mq-min-md} {
    padding: 0 5rem 2rem;
  }
}

.page-container {
  max-width: 1180px;
  margin: 0 auto;
}

.page-container--header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and #{$mq-min-md} {
    position: relative; // keep above branding-block
  }

  .region-header {
    width: 100%;
  }

  .region-primary-menu,
  .region-secondary-menu {
    @media screen and #{$mq-max-md} {
      width: 100%;
    }
  }
}

.block-system-branding-block {
  padding: 5rem 0 4rem;
  text-align: center;

  @media screen and #{$mq-min-md} {
    padding: $branding-padding;
  }
}

.site-name {
  font-family: $font-brand;
  font-size: 8rem;
  line-height: 1.1;

  > a {
    color: $gray;
    box-shadow: none;
  }
}

.site-slogan {
  color: $gray-dark;
  font-size: 1.3rem;
  letter-spacing: .1em;
  text-transform: uppercase;

  &::before,
  &::after {
    content: ' ⁓ ';
  }
}

@media screen and #{$mq-min-md} {
  body:not(.toolbar-fixed):not(.imce-page) {
    .block-system-branding-block {
      &::before,
      &::after {
        display: block;
        content: '\00a0';
      }

      &::before {
        font-size: 8rem;
        line-height: 1.1;
      }

      &::after {
        font-size: 1.3rem;
        letter-spacing: .1em;
      }

      .system-branding {
        $scale: 2;

        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        padding: $branding-padding;
        transform: translateZ(-($scale - 1px)) scale($scale);
        transform-origin: 100% 0;
      }
    }
  }

  // .site-name,
  // .site-slogan {
  //   opacity: 0;
  // }
  // .system-branding {
  //   background: rgba(0,0,0,.1);
  // }
}

.page-title {
  font-weight: normal;
}

.page-main {
  position: relative;
  z-index: 1;
}

.page-container--main {
  $svg-color: uri-encode(unquote('#{$gold-light}'));

  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  padding: 0 1rem;
  border: 1.5rem solid transparent;
  border-radius: .7rem;
  background-color: $bg-page;
  border-image: url('data:image/svg+xml;utf8,\
  <svg xmlns="http://www.w3.org/2000/svg"\
    viewBox="0 0 70 70" width="70" height="70">\
    <g fill="#{$svg-color}">\
      <ellipse cx="15" cy="15" rx="4" ry="4"/>\
      <ellipse cx="35" cy="15" rx="4" ry="4"/>\
      <ellipse cx="55" cy="15" rx="4" ry="4"/>\
      <ellipse cx="15" cy="35" rx="4" ry="4"/>\
      <ellipse cx="55" cy="35" rx="4" ry="4"/>\
      <ellipse cx="15" cy="55" rx="4" ry="4"/>\
      <ellipse cx="35" cy="55" rx="4" ry="4"/>\
      <ellipse cx="55" cy="55" rx="4" ry="4"/>\
    </g>\
  </svg>') 25 round;

  @media screen and #{$mq-min-md} {
    padding: 0 8.5rem 4.5rem;
  }
}
