@import '../base/index';

.page {
  padding: 0 2rem 1rem;

  @media screen and #{$mq-min-md} {
    padding: 0 5rem 2rem;
  }
}

.page-container {
  max-width: 1180px;
  margin: 0 auto;
}

.page-container--header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .region-header {
    width: 100%;
  }

  .region-primary-menu,
  .region-secondary-menu {
    @media screen and #{$mq-max-md} {
      width: 100%;
    }
  }
}

.block-system-branding-block {
  padding: 5rem 0 4rem;
  text-align: center;

  @media screen and #{$mq-min-md} {
    padding: $branding-padding;
  }
}

.site-name {
  font-family: $font-brand;
  font-size: 8rem;
  line-height: 1.1;

  > a {
    color: $gray;
    box-shadow: none;
  }
}

.site-slogan {
  color: $gray-dark;
  font-size: 1.3rem;
  letter-spacing: .1em;
  text-transform: uppercase;

  &::before,
  &::after {
    content: ' ⁓ ';
  }
}

.page-title {
  font-weight: normal;
}

.page-container--main {
  $svg-color: uri-encode(unquote('#{$gold-light}'));

  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  padding: 0 1rem;
  border: 1.5rem solid transparent;
  border-radius: .7rem;
  background-color: $white;
  box-shadow: 0 1px 4px $darken-01;
  border-image: url('data:image/svg+xml;utf8,\
  <svg xmlns="http://www.w3.org/2000/svg"\
    viewBox="0 0 70 70" width="70" height="70">\
    <g fill="#{$svg-color}">\
      <ellipse cx="15" cy="15" rx="4" ry="4"/>\
      <ellipse cx="35" cy="15" rx="4" ry="4"/>\
      <ellipse cx="55" cy="15" rx="4" ry="4"/>\
      <ellipse cx="15" cy="35" rx="4" ry="4"/>\
      <ellipse cx="55" cy="35" rx="4" ry="4"/>\
      <ellipse cx="15" cy="55" rx="4" ry="4"/>\
      <ellipse cx="35" cy="55" rx="4" ry="4"/>\
      <ellipse cx="55" cy="55" rx="4" ry="4"/>\
    </g>\
  </svg>') 25 round;

  @media screen and #{$mq-min-md} {
    padding: 0 8.5rem 4.5rem;
  }
}
