@import '../base/index';

ul.tabs {
  border-bottom: 1px solid $gold-light;
}

.tabs {
  li {
    position: relative;
    margin-bottom: -1px;
  }

  a {
    transition: border-color .2s;
    border: 1px solid transparent;
    border-radius: 2px 2px 0 0;
    box-shadow: none;

    &:hover,
    &:focus,
    &.is-active {
      background-color: transparent;
    }

    &:hover {
      border-color: $gold-lighter $gold-lighter transparent;
    }

    &.is-active {
      border-color: $gold-light $gold-light $white;
      color: $gray-darker;
    }
  }
}
