@import '../base/index';

@mixin button($background, $color) {
  transition: background-color .2s, outline-color .2s;
  outline: 1px solid transparent;
  outline-offset: -2px;
  background: $background;
  color: $color;

  &:hover {
    background: lighten($background, 3%);
  }

  &:active {
    transition: none;
    background: darken($background, 3%);
  }

  &:focus {
    outline-color: fade-out($color, .3);
  }
}

.button {
  @include button($gray-light, $gray-dark);
  padding: .9rem 2rem;
  border: 0;
  border-radius: 2px;
}

.button--primary {
  @include button($gray-dark, $white);
  font-weight: bold;
}
