@import '../base/index';

details {
  border-color: $gray-light;
}

summary {
  transition: background-color .2s;
  outline: none;

  &:hover {
    background-color: $gray-lighter;
  }
}

.details-wrapper {
  box-sizing: border-box;
}
