@import "../base/index";

html {
  box-sizing: border-box;
  background: $bg-body;
  color: $color-copy;
  font-family: Crimson Text, Georgia, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: $color-accent;
  text-decoration: none;
  transition: box-shadow .2s;

  &:hover {
    box-shadow: 0 1px 0 0 currentColor;
  }
}

button,
input,
textarea {
  font: inherit;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin-top: 0;
  margin-bottom: 30px;
}
