@import '../base/index';

body.cke_editable {
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1px 2rem;
  overflow: auto;
}

.cke_widget_inline,
img {
  &.align-left,
  &.align-right,
  &.align-center {
    @media #{$mq-max-sm} {
      float: none;
    }
    @media #{$mq-min-sm} {
      max-width: calc(50% - 1.5rem);
      margin: .7rem 0 1rem;
    }
  }

  @media #{$mq-min-sm} {
    &.align-left {
      margin-right: 3rem;
      float: left;
    }

    &.align-right {
      margin-left: 3rem;
      float: right;
    }

    &.align-center {
      margin-right: auto;
      margin-left: auto;
    }
  }
}
