@import '../base/index';

body.cke_editable {
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1px 2rem;
  overflow: auto;
}

img {
  &.align-left,
  &.align-right {
    @media #{$mq-max-sm} {
      float: none;
    }
    @media #{$mq-min-sm} {
      max-width: 50%;
      margin: .7rem 0 1rem;
    }
  }

  @media #{$mq-min-sm} {
    &.align-left {
      margin-right: 3rem;
    }

    &.align-right {
      margin-left: 3rem;
    }
  }
}
