@import '../base/index';

body.cke_editable {
  max-width: 95rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1px 2rem;
  overflow: auto;
}

.cke_widget_inline,
img {
  &.align-left,
  &.align-right,
  &.align-center {
    display: block;
    margin: 3rem auto;
    float: none;
  }

  @media #{$mq-min-sm} {
    &.align-left,
    &.align-right {
      max-width: calc(50% - 1.5rem);
      margin: .7rem 0 1rem;
    }

    &.align-left {
      margin-right: 3rem;
      float: left;
    }

    &.align-right {
      margin-left: 3rem;
      float: right;
    }
  }
}

.quickedit-field {
  top: 0 !important;
  left: 0 !important;
  padding: 0 !important;
}
